<ion-content>
  <img src="../../assets/meme.png" alt="" id="meme">
  <ion-item>
    
    <ion-label>Qtd de cigarros/dia</ion-label>
    <ion-input type="number" [(ngModel)]="cigarrosPorDia" placeholder="Ex: 5"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Qtd anos fumando</ion-label>
    <ion-input type="number" [(ngModel)]="anosFumando" placeholder="Ex: 10"></ion-input>
  </ion-item>
  <ion-button (click)="calcular()" id="botao">Calcular</ion-button>
  <h3 class="font">Você perdeu:</h3>
  <h1 class="font">{{diasPerdidos.toFixed(0)}} dias</h1>
</ion-content>