ion-content{
  text-align: center;
 margin-top: 700px;
--color: white;
--background: linear-gradient(to right, rgb(177, 65, 65), rgb(16, 16, 192));
border: solid 10px rgb(202, 176, 176);
}

ion-item{
  margin: 16px 0;
  margin-top: -10px;
  font-family: arial;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0.5px;
}
#meme{
  margin-bottom: 60px;
  z-index: 1;

}
#botao
{
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 50px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.font{
  font-family: arial;
  font-size: 30px;
}

